@media(max-width:1200px) {
    .container {
        padding: 0 15px;
    }
    .promo {
        &__title {
            font-size: 37px;
        }
        &__description {
            font-size: 23px;
        }
        &__carousel {
            &-slide {
                padding: 0 2px;
            }
            .slick-next {
                right: calc(40% + 52px);
            }
        }
    }
    .solutions {
        .slick-prev {
            left: -10px;
        }
        .slick-next {
            right: -10px;
        }
    }
}
@media(max-width:992px) {
    .header {
        overflow: hidden;
        top: 155px;
        &__menu-item {
            margin-left: 40px;
        }
    }
    .promo {
        &__item {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__flag {
            margin-bottom: 5px;
            transform: translateX(25%);
        }
        &__title {
            font-size: 34px;
        }
        &__description {
            font-size: 20px;
        }
        &__carousel {
            .slick-dots {
                left: 41.5%;
            }
            .slick-next, .slick-prev {
                display: none;
            }
        }
    }
    .questions {
        &-content {
            flex-direction: column;
            &__item {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .solutions {
        position: relative;
        &__tab {
             padding: 13px 16px 13px 20px;
        }
        .slick-dots {
            display: flex !important;
            font-size: 0;
            height: 50px;
            position: absolute;
            bottom: -6%;
            left: 50%;
            margin: 0;
            padding: 0;
            transform: translateX(-50%);
            button {
                width: 11px;
                height: 11px;
                background-color: rgba(255,255,255, 0.0);
                border: 1px solid #fff;
                margin-right: 15px;
                border-radius: 100%;
            }
            .slick-active {
                button {
                   background-color: rgba(255,255,255, 1); 
                } 
            } 
        }
    }
    .variant {
        &__header {
            text-align: center;
            line-height: 32px;
        }
        &__description {
            text-align: center;
        }
        &__block {
            width: 189px;
        }
    }
    
}
@media(max-width:768px) {
    .header {
        top: 170px;
        &__toggle {
            position: fixed;
            align-items: center;
            padding-top: 20px ;
            top: 220px;
            right: -100%;
            background-color: rgba($main-color, 0.8);
            z-index: 12;
            width: 50%;
            height: auto;
            // transform: translateX(100%);

            transition: 0.5s all;
            &_active {
                // transform: translateX(0);
                right: 0;
            }

        }
        &__menu {
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 50%;
            padding: 10px 10px;
            &-item {
                margin-left: 0;
                margin-bottom: 20px;
                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }
        &__link {
            font-size: 16px;
            line-height: 40px;
        }   
        &__logo {
            width: 100px;
        }
        &__hamburger {
            right: 0;
            display: block;
            z-index: 12;
            cursor: pointer;
            span {
                display: block;
                width: 40px;
                height: 5px;
                background-color: #fff;
                margin-bottom: 3px;
            }
            &_active {
                position: fixed;
                top: 190px;
                right: 14px;
                span {
                    box-shadow: 0 0 15px $main-color;
                }
            }
        }

    }
    .promo {
        &__countries {
            padding-bottom: 0;
        }
        &__wrapper {
            margin-bottom: 15px;
        }
        &__text {
            display: none;
            transition: 0.5s all;
            &_active {
                transition: 0.5s all;
                display: block;
                height: auto;
            }
        }

        &__more {
            display: block;
            text-align: center;
        }
        &__trei {
            display: block;
            margin: 0 auto;
            text-align: center;
            font-size: 25px;
            transition: 0.5s all;
            transform: rotate(0deg);
            &_active {
                transform: rotate(180deg);
                .header {
                    top: 217px;
                }
            }
        }
    }
}