@import "libs/bootstrap-reboot.min";
@import "base/slick";
@import "base/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import "blocks/header";
@import "blocks/promo";
@import "blocks/button";
@import "blocks/questions";
@import "blocks/solutions";
@import "blocks/advantages";
@import "blocks/variant";
@import "blocks/start";
@import "blocks/footer";


@import "base/media";