.button {
    width: 241px;
    height: 60px;
    background-color: $main-color;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.07);
    border: none;
    border-radius: 5px;
    &_center {
        display: block;
        margin: 0 auto;
    }
    &:hover {
        box-shadow: 3px 3px 20px $main-color;
    }
    &:focus {
        border: blue;
    }
}