.footer {
    padding: 49px 0 40px 0;
    background-color: #0082a1;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 44px;
    }
    &__item {
        max-width: 381px;
    }
    &__subtitle {
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 10px;
        text-align: s;
        &_mb21 {
            margin-bottom: 21px;
        }
    }
    &__logo {
        margin-bottom: 21px;
    }
    &__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 19px;
        color: #ffffff;
    }
    &__list {
        padding: 0;
        li {
            list-style-type: none;
            a {
                font-size: 14px;
                font-weight: 300;
                color: #ffffff;
                text-decoration: none;
                color: #fff;
                &:hover {
                    color: $main-color;
                }

            }
        }
    }
    &__line {
        margin-bottom: 36px;
        height: 1px;
        opacity: 0.3;
        color: #fff;
    }
    &__copyright {
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
    }
}