.promo {
    &__countries {
        padding: 20px 0 20px 0;
    }
    &__wrapper {
        display: flex;
    }
    &__item {
        display: flex;
        flex: 0 0 20%;
    }
    &__flag {
        margin-right: 11px;
    }
    &__country {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        color: #242424;
    }
    &__text {
        line-height: 18px;
        font-size: 12px;
        font-weight: 300;
    }
    &__main {
        min-height: 700px;
        background: url("../img/background_1.png") center (center/cover) no-repeat;
        padding: 131px 0 0 0;
    }
    &__carousel-wrapper {
        max-width: 1140px;
        margin: 0 auto;
        overflow: hidden;
    }
    &__carousel {
        position: relative;
        z-index: 9999;

    }
    // &__carousel-block {
    //     align-items: center;
    // }
    &__title {
        font-size: 42px;
        line-height: 48px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 27px;
    }
    &__description {
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
        color: #ffffff;
        margin-bottom: 39px;
        span {
            font-weight: 400;
        }
    }
    .slick-slide {
        display: flex;
        min-height: 569px;
        width: 1140px;
        align-items: center;
        justify-content: space-between;
        // z-index: 11;
    }
}