.promo {
    &__countries {
        padding: 20px 0 20px 0;
    }
    &__wrapper {
        display: flex;
    }
    &__item {
        display: flex;
        flex: 0 0 20%;
    }
    &__flag {
        margin-right: 11px;
    }
    &__country {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        color: #242424;
    }
    &__text {
        line-height: 18px;
        font-size: 12px;
        font-weight: 300;
    }
    &__main {
        min-height: 700px;
        background: url("../img/background_1.png") center (center/cover) no-repeat;
        padding: 131px 0 0 0;
        // background-size: cover;
    }
    &__carousel-wrapper {
        max-width: 1140px;
        margin: 0 auto;
        overflow: hidden;
    }
    &__carousel-slide {
        position: relative;
        width: 1140px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
    }
    &__title {
        font-size: 42px;
        line-height: 48px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 27px;
    }
    &__description {
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
        color: #ffffff;
        margin-bottom: 39px;
        span {
            font-weight: 400;
        }
    }
    .slick-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 569px;
        &:focus {
            outline: none;
        }
        img {
            display: block;
            max-width: 100%;
        }
    }
    .slick-next {
        right: calc(40% + 57px);
        position: absolute;
        z-index: 10;
        bottom: 68px;
        transform: translateX(-50%);
        img {
            width: 6px;
            height: 10px;
        }
    }
    .slick-prev {
        position: absolute;
        left: calc(40% + 57px);
        z-index: 10;
        bottom: 68px;
        transform: translateX(-50%);
        img {
            width: 6px;
            height: 10px;
        }
        
    }
    .slick-arrow {
        background: rgba(255,255,255, 0.0);
        border: none;
        &:focus {
            outline: none;
        }
    }
    .slick-dots {
        display: flex;
        font-size: 0;
        position: absolute;
        bottom: 57px;
        left: 48.5%;
        transform: translateX(-50%);
        button {
            width: 11px;
            height: 11px;
            background-color: rgba(255,255,255, 0.0);
            border: 1px solid #fff;
            margin-right: 3px;
            border-radius: 100%;
        }
        .slick-active {
            button {
               background-color: rgba(255,255,255, 1); 
            } 
        }
    }
}