.variant {
    min-height: 580px;
    background: url("../../img/bg3.png") center (center/cover) no-repeat;
    padding: 80px 0 181px 0;
    &__subtitle {
        display: block;
        margin: 0 auto;
        max-width: 373px;
        text-align: center;
        font-size: 30px;
        line-height: 35px;
        font-weight: 900;
        color: #ffffff;
        margin-bottom: 90px;
    }
    &__wrapper {
        display: flex;
        // justify-content: center;
        // align-items: center;
    }
    &__left {
        position: relative;
        min-height: 169px;
        padding:38px 39px 38px 0;
        flex: 0 0 calc(50% - 15px);
       
    }
    &__left-subtitle {
        font-size: 30px;
        line-height: 22px;
        font-weight: 900;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 20px;
        text-align: end;
    }
    &__left-description {
        font-size: 18px;
        line-height: 26px;
        font-weight: 300;
        color: #ffffff;
        text-align: end;
    }
    &__left-block {
        position: absolute;
        width: 167px;
        height: 167px;
        background-color: rgba($main-color, 0.3);
        right: 0;
        top: 0;
    }
}